.view-container.anim-slide-below
  .text.center
    p
      |VIA Servicios® es la marca que representa IGT COMMERCIAL SERVICES, S. DE R.L. DE C.V. en México. IGT es una empresa mexicana, subsidiaria de IGT GLOBAL SOLUTIONS CORPORATION (
      a(target="_blank" href="http://www.igt.com")
        |www.igt.com
      |) que actúa en el área de servicios comerciales, sirviendo de intermediario entre empresas de servicios y el consumidor final.
    p
      |VIA Servicios® surge para facilitar la gestión de pago de facturas que tienen los usuarios periódicamente, estableciendo puntos donde se pueden pagar varios servicios en un mismo lugar, evitándoles desplazamientos a distintos locales y ahorrándoles tiempo y dinero.
  .center-line
  .circles-container
    .fluid-container
      .row
        .col-xs-12.col-sm-6.col-md-3
          .circle
            img(data-ng-src="common/images/company-image-1.png")
        .col-xs-12.col-sm-6.col-md-3
          .circle
            img(data-ng-src="common/images/company-image-3.png")
        .col-xs-12.col-sm-6.col-md-3
          .circle
            img(data-ng-src="common/images/company-image-2.png")
        .col-xs-12.col-sm-6.col-md-3
          .circle
            img(data-ng-src="common/images/company-image-4.png")
  div(data-ng-include="'app/footer/footer.template.html'")