.privacy
  nav.separator
    a(ui-sref="privacy")
      |AVISO DE PRIVACIDAD
  nav.separator.separator-left
    a(ui-sref="confidenciality")
      |CONFIDENCIALIDAD
  nav.separator-left
    a(ui-sref="faq")
      |PREGUNTAS FRECUENTES