a.close(ui-sref="home")
  img(data-ng-src="common/images/close.png")
.lightbox
  .lightbox-container
    h2
      |AVISO DE PRIVACIDAD Y MANEJO DE INFORMACIÓN PERSONAL.
    .lightbox-text.margin-bottom-100
      p
        |En términos de lo establecido en la cláusula 12 del CONTRATO MAESTRO DE SUMINISTRO Y AGENCIA (el “Contrato”), IGT en nombre de sus afiliados y/o subsidiarios, con domicilio en Avenida Constituyentes #635, Colonia 16 de Septiembre, Delegación Miguel Hidalgo, C.P. 11810, Ciudad de México, proporciona la Política de Privacidad aquí descrita. Para efectos de claridad, la totalidad de los términos inicializados con mayúscula corresponden a las definiciones otorgadas por las Partes en el Contrato celebrados por el POS e IGT.
      p
        |a) Información Personal/Datos recabados. – IGT recaba información que el POS proporciona voluntariamente a través de la celebración del Contrato, el cual incluye de manera enunciativa más no limitativa la siguiente: (i) Nombre completo, fecha de nacimiento, correo electrónico, número de teléfono, número de celular; (ii) Empleador, cargo y responsabilidades, domicilio del empleador, página web, número de empleados del POS; (iii) País y ciudad de residencia, código postal; (iv) Cuenta de Twitter.
      p
        |IGT no solicita información sensible como la relacionada con etnicidad, religión, salud física u orientación sexual. Si fuese necesaria, IGT obtendrá la autorización expresa y por escrito para tal fin. 
      p
        |b) Uso de Información Personal. – IGT usa y usará la información proporcionada por el POS para: (i) Contactar al POS; (ii) Enviar información relevante respecto de los Productos; (iii) Incluir al POS, si es requerido, en programas y cursos de capacitación respecto del uso de la Terminal y como incrementar la comercialización de los Productos; (iv) Darle seguimiento a sus comentarios, sugerencias y opiniones; (v) llevar a cabo la investigación referenciada en la Sección 11 anterior; (vi) Desarrollar estrategias de marketing; (vii) llevar a cabo gestiones de cobro cuando sean requeridas; (viii) abrir un archivo específico para el POS; (ix) cumplir con la legislación relevante y aplicable; y (x) para el proceso de facturación cuando sea requerido.
      p
        |IGT podremos utilizar la información personal del POS para otros propósitos, en la medida que dichos propósitos sean consistentes con los descritos anteriormente y relacionados con el correcto desempeño de las Actividades. 
      p
        |IGT no vende, renta, cede, transfiere o de algún modo proporciona información personal identificable a terceros sin el previo consentimiento del POS, excepto cuando sea necesario llevar a cabo indicaciones del POS y cuando sea permitido por las legislaciones de ciertos países. 
      p
        |c) Seguridad. – La información personal proporcionada por el POS estará protegida conforme a los estándares de la industria y la tecnología. No obstante a lo anterior, como el internet y los servidores conectados al internet no están en un entorno 100% seguro, IGT no puede asegurar o garantizar la seguridad de la información proporcionada por el POS. No hay garantía alguna que la información no será accedida, copiada, revelada, alterada o destruida por una intrusión no autorizada a cualquiera de nuestras medidas de protección físicas técnicas o administrativas.
      p
        |d) Opciones respecto de la Información del POS. El POS, como titular de su información personal, podrá: (i) Salvo por la información referida en la Sección 11 anterior, revocar en cualquier momento la autorización otorgada para recabar su información, la cual era necesaria para cumplir con el trato de la información personal del POS; (ii) Solicitar la limitación  del uso o revelación de dicha información. 
      p
        |El POS podrá ejercer dichos derechos mandando un correo electrónico a la siguiente dirección: info@viaservicios.com.mx, o por medio de una carta dirigida a IGT a la siguiente dirección: Avenida Constituyentes #635, Colonia 16 de Septiembre, Delegación Miguel Hidalgo, C.P. 11810, Ciudad de México
      p
        |e) Disposiciones Generales.- IGT se reserva el derecho a hacer cambios a ésta Política de Privacidad, si dichas modificaciones se llevaran a cabo, estas serán publicadas en el link a continuación: www.viaservicios.com.mx, siendo que el POS reconoce y acepta que dicha publicación será considerada como una notificación válida de las modificaciones. 
      p
        |Al proporcionar toda la información anterior, el POS reconoce los términos y condiciones aquí expuestos.