.view-container.anim-slide-below
  .text
    .form-box
      .fluid-container
          .row
            .col-xs-12.col-md-6
              .align-center(data-ng-if="contact.error")
                span.error-message
                  |Todos los campos son requeridos.
              .align-center(data-ng-if="contact.success")
                span.success-message
                  |¡Gracias! Pronto nos pondremos en contacto contigo.
              form(data-ng-if="!contact.success", name="contact.form",data-ng-submit="contact.send()",novalidate)
                .input-row.left
                  input(data-ng-model="contact.info.name",placeholder="*NOMBRE", required)
                .input-row.left
                  input(data-ng-model="contact.info.email", placeholder="*CORREO ELECTRÓNICO", required)
                .input-row.left
                  textarea(data-ng-model="contact.info.message", placeholder="*MENSAJE", required)
                .input-row.left.align-right
                  button(type="submit")
                    |ENVIAR
            .col-xs-12.col-md-6
              .text-box
                div
                  |Av. Constituyentes 635.
                div
                  |Col 16 de Septiembre.
                div
                  |Del Miguel Hidalgo. Ciudad de México
                div
                  |01 800 841 0841.
              //- .text-box.margin-top-4
                div
                  |info@viaservicios.com.mx
              .text-box.margin-top-10
                a(href="https://www.facebook.com/Via-Servicios-M%C3%A9xico-169380730210718/" target="_blank")
                  i.fa.fa-facebook-square
                a(href="https://www.instagram.com/viaserviciosmexico/" target="_blank")
                  i.fa.fa-instagram
                a(href="https://twitter.com/ViaServiciosMex" target="_blank")
                  i.fa.fa-twitter
  div(data-ng-include="'app/footer/footer.template.html'")