.view-container.anim-slide-below
  .form-box
    .fluid-container
      form(novalidate)
        .row
          .col-xs-12.col-md-6
            .input-row.left
              input(placeholder="*NOMBRE")
            .input-row.left
              input(placeholder="*CORREO ELECTRÓNICO")
            .input-row.left
              textarea(placeholder="*MENSAJE")
            .input-row.left.align-right
              button(type="submit")
                |ENVIAR
          .col-xs-12.col-md-6
            .text-box
              div
                |Av. Constituyentes 635.
              div
                |Col 16 de Septiembre.
              div
                |Del Miguel Hidalgo. Ciudad de México
              div
                |5555 555.
            .text-box.margin-top-4
              div
                |info@viaservicios.com.mx
            .text-box.margin-top-10
              a(href="http://facebook.com" target="_blank")
                i.fa.fa-facebook-square
              a(href="http://instagram.com" target="_blank")
                i.fa.fa-instagram
              a(href="http://twitter.com" target="_blank")
                i.fa.fa-twitter
