.view-container.anim-slide-below
  .text
    .form-box
      .fluid-container
        form(novalidate)
          .row
            .col-xs-12.col-md-6
              .input-row.left
                input(placeholder="*NOMBRE")
              .input-row.left
                input(placeholder="*CORREO ELECTRÓNICO")
              .input-row.left
                textarea(placeholder="*MENSAJE")
              .input-row.left.align-right
                button(type="submit")
                  |ENVIAR
              .privacy
                nav.separator
                  a(ui-sref="privacy")
                    |PRIVACIDAD
                nav.separator-left
                  a(ui-sref="faq")
                    |PREGUNTAS FRECUENTES
            .col-xs-12.col-md-6
              .text-box
                div
                  |Av. Constituyentes 635.
                div
                  |Col 16 de Septiembre.
                div
                  |Del Miguel Hidalgo. Ciudad de México
                div
                  |5555 555.
              .text-box.margin-top-4
                div
                  |info@viaservicios.com.mx
              .text-box.margin-top-10
                a(href="https://www.facebook.com/Via-Servicios-M%C3%A9xico-169380730210718/" target="_blank")
                  i.fa.fa-facebook-square
                a(href="https://www.instagram.com/viaserviciosmexico/" target="_blank")
                  i.fa.fa-instagram
                a(href="https://www.twitter.com/viaserviciosmexico/" target="_blank")
                  i.fa.fa-twitter
