#logo
  img(data-ng-src="common/images/logo.png")
#main-text
  span.construction
    |En construcción
  .links
    span
      |AVISO DE PRIVACIDAD
    span.separator
      | |
    span
      |CONFIDENCIALIDAD
