#main-page
  #logo
    img(data-ng-src="common/images/logo.png")
  #main-text
    span.construction
      |En construcción
    .links
      a(ui-sref="privacy")
        |AVISO DE PRIVACIDAD
      span.separator
        | |
      a(ui-sref="confidenciality")
        |CONFIDENCIALIDAD