.view-container.anim-slide-below
  .text.left
    p
      |En los puntos de pago VIA Servicios® los usuarios pueden pagar sus facturas de servicios básicos como electricidad, agua, además de facturas de teléfono fijo, teléfono celular, peajes, gobiernos, internet, cable y realizar recargas.
    p
      |Las compañías aliadas a la red VIA Servicios® son:
  .services
    #services-carousel.carousel-container
      .carousel-riel.clearfix
        nav.item.align-center
          .service-icon.services1
            .horizontal-separator
            img(data-ng-src="common/images/recargas.png")
            span
              |RECARGAS
          .padding-side
            .icons-container
              .vertical-separator.services1
              img.service-img.big(data-ng-src="common/images/recargas1.png")
              img.service-img.small(data-ng-src="common/images/recargas2.png")
              img.service-img.small(data-ng-src="common/images/recargas3.png")
            .icons-container
              img.service-img.small(data-ng-src="common/images/recargas4.png")
              img.service-img.small(data-ng-src="common/images/recargas5.png")
              img.service-img.small(data-ng-src="common/images/recargas6.png")
        nav.item.align-center
          .service-icon
            .horizontal-separator
            img(data-ng-src="common/images/luz.png")
            span
              |LUZ
          .padding-side
            .icons-container
              .vertical-separator.services2
              img.service-img.small(data-ng-src="common/images/luz1.png")
        nav.item.align-center
          .service-icon.services3
            .horizontal-separator
            img(data-ng-src="common/images/comunicacion.png")
            span
              |COMUNICACIÓN
          .padding-side
            .icons-container
              .vertical-separator
              img.service-img.small(data-ng-src="common/images/comunicacion3.png")
              img.service-img.big(data-ng-src="common/images/comunicacion1.png")
              img.service-img.small(data-ng-src="common/images/comunicacion2.png")
            .icons-container
              img.service-img(data-ng-src="common/images/comunicacion4.png")
              img.service-img.small(data-ng-src="common/images/comunicacion5.png")
              img.service-img(data-ng-src="common/images/comunicacion6.png")
        nav.item.align-center
          .service-icon.services4
            .horizontal-separator
            img(data-ng-src="common/images/cable.png")
            span
              |CABLE
          .padding-side
            .icons-container
              .vertical-separator.services4
              img.service-img.x-small(data-ng-src="common/images/cable1.png")
              img.service-img.x-small(data-ng-src="common/images/cable2.png")
              img.service-img.x-small(data-ng-src="common/images/cable3.png")
              img.service-img.x-small(data-ng-src="common/images/cable4.png")
              img.service-img(data-ng-src="common/images/cable5.png")
            .icons-container
              img.service-img(data-ng-src="common/images/cable6.png")
              img.service-img(data-ng-src="common/images/cable7.png")
              img.service-img(data-ng-src="common/images/cable8.png")
        nav.item.align-center
          .service-icon.services5
            .horizontal-separator
            img(data-ng-src="common/images/gobierno.png")
            span
              |GOBIERNO
          .padding-side
            .icons-container
              .vertical-separator.services5
              img.service-img(data-ng-src="common/images/gobierno1.png")
              img.service-img.x-small(data-ng-src="common/images/gobierno2.png")
              img.service-img(data-ng-src="common/images/gobierno3.png")
            .icons-container
              img.service-img.big(data-ng-src="common/images/gobierno4.png")
        nav.item.align-center
          .service-icon.services6
            .horizontal-separator
            img(data-ng-src="common/images/peaje.png")
            span
              |PEAJE
          .padding-side
            .icons-container
              .vertical-separator.services6
              img.service-img.small(data-ng-src="common/images/peaje1.png")
              img.service-img.small(data-ng-src="common/images/peaje2.png")
              img.service-img.small(data-ng-src="common/images/peaje3.png")
              img.service-img.small(data-ng-src="common/images/peaje4.png")
        nav.item.align-center
          .service-icon.services7
            .horizontal-separator
            img(data-ng-src="common/images/otros.png")
            span
              |OTROS
          .padding-side
            .icons-container
              .vertical-separator.services7
              img.service-img(data-ng-src="common/images/otros5.png")
              img.service-img(data-ng-src="common/images/otros2.png")
              img.service-img(data-ng-src="common/images/otros1.png")
            .icons-container
              img.service-img(data-ng-src="common/images/otros3.png")
              img.service-img(data-ng-src="common/images/otros6.png")
              img.service-img(data-ng-src="common/images/otros4.png")
      .navs-container
        .navs.clearfix
          nav(data-ng-repeat="n in services.getNumber(services.items) track by $index", data-ng-class="{'active':services.selected == $index}", data-ng-click="services.selectIt($index)")
            span