.text.left
  p
    |En los puntos de pago VIA Servicios® los usuarios pueden pagar sus facturas de servicios básicos como electricidad, agua, además de facturas de teléfono fijo, teléfono celular, peajes, gobiernos, internet, cable y realizar recargas.
  p
    |Las compañías aliadas a la red VIA Servicios® son: