@import 'colors';

/*genera.acl*/
html
  height: 100%

body
  height: 100%  
  background: url('/common/images/background.png')
  margin: 0
  padding: 0
  color: $text-color

.height-100
  height: 100%

[class*="col-"]
  padding: 0

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.view-container
  width: 100%
  position: absolute

.center-block
  float: none
  display: block
  margin-left: auto
  margin-right: auto

a,a:link,a:active, a:hover, a:visited
  text-decoration: none
  outline: none
  color: $text-color

*
  // outline: solid 1px red
/*general*/

/*header*/
#main
  width: 70%
  margin: 0 auto
  position: relative
#header
  padding: 20px 0
  position: relative

#logo
  position: absolute
  top: 20px
  left: 0
  img
    width: 110px

#menu
  font-family: 'bebas_neue_regular'
  font-size: 20px
  padding-top: 52px
  nav
    float: right
    padding: 0 15px
    a.active
      border-bottom: solid 3px $text-color

#menu-mobile
  display: none
  margin: 0 auto
  font-family: 'bebas_neue_regular'
  font-size: 15px
  padding-top: 52px
  text-align: center
  nav
    // float: left
    display: inline-block
    padding: 0 15px
    margin-bottom: 10px
    a.active
      border-bottom: solid 3px $text-color

#arrow
  // width: 50px
  // height: 50px
  position: fixed
  bottom: 50px
  right: 50px
  i
    font-size: 4rem
/*header*/

.text
  // margin-top: 50px
  margin-bottom: 30px
  font-family: 'montserrat_thin'
  font-size: 15px
  &.center
    text-align: center
  &.left
    text-align: left
.center-line
  width: 40%
  height: 3px
  margin: 0 auto
  background-color: $text-color

.circles-container
  margin-top: 30px
.circle
  margin: 0 auto
  width: 90%
  // width: 150px
  // height: 150px
  // border: solid 3px $text-color
  // border-radius: 50%
  img
    width: 100%

ul.list
  padding: 0 20px

.row
  padding: 0
  margin: 0

.form-box
  font-size: 15px
  font-family: 'montserrat_thin'
  margin-top: 50px
  margin-bottom: 50px

.align-right
  text-align: right
.align-center
  text-align: center

.margin-top-4
  margin-top: 4rem

.margin-top-10
  margin-top: 10rem

.input-row
  margin-bottom: 10px
  &.left
    padding-right: 10px
  &.right
    padding-left: 10px  
  input, textarea
    box-sizing: border-box;
    padding: 0px 10px
    background-color: #FFF
    width: 100%
    border: 0
    outline: 0
    border-radius: 5px
    color: #333
  button
    background-color: #FFF
    border-radius: 5px
    border: 0
    outline: 0
    color: #999
  textarea
    height: 100px
    resize: none

.text-box
  padding-left: 150px
  i
    font-size: 2.5rem
    margin-left: 10px

/*carousel*/
.carousel-container
  width: 100%
  margin-top: 30px
  margin-bottom: 30px
  // outline: solid 1px red
  overflow: hidden
  position: relative
  .carousel-riel
    position: relative
    top: 0
    left: 0
    // width: 3000px
    nav.item
      // outline: solid 1px black
      float: left
      width: 1000px
      position: relative
      overflow: hidden
      &.banner1
        height: 350px
        background: url(/common/images/banner1.png) no-repeat
        background-position: bottom
        background-size: 100% auto
      &.banner2
        height: 350px
        background: url(/common/images/banner2.png) no-repeat
        background-position: bottom
        background-size: 100% auto
      &.banner3
        height: 350px
        background: url(/common/images/banner3.png) no-repeat
        background-position: bottom
        background-size: 100% auto
      &.banner4
        height: 350px
        background: url(/common/images/banner4.png) no-repeat
        background-position: bottom
        background-size: 100% auto
      .text-image
        width: 40%
        position: absolute
        // top: 0
        &.left
          left: 0
        &.right
          right: 0
        &.banner1
          bottom: 80px
        &.banner2
          bottom: 150px
        &.banner3
          bottom: 200px
        &.banner4
          bottom: 100px
        .main-title
          font-family: 'bebas_neue_regular'
          font-size: 4rem
          line-height: 4rem
        .subtitle
          font-family: 'bebas_neuelight'
          font-size: 2rem

      .image
        // overflow: hidden
        text-align: center
        img
          width: 90%
  .navs-container
    margin-top: 30px
    text-align: center
    .navs
      // outline: solid 1px blue
      display: inline-block
      nav
        float: left
        // width: 15px
        // height: 15px
        cursor: pointer
        margin-right: 10px
        border-radius: 50%
        // background-color: #FFF
        padding: 3px
        &.active
          border: solid 2px #FFF

        span
          display: block
          width: 8px
          height: 8px
          border-radius: 50%
          background-color: #FFF
/*carousel*/

.icons-container
  position: relative
  margin-bottom: 10px
  padding-left: 50px
  text-align: left
img.service-img
  margin: 0 15px
  width: 100px
  &.x-small
    width: 60px
  &.small
    width: 80px
  &.big
    width: 140px

.padding-side
  margin-left: 50px

  // text-align: center
  // position: relative
  display: inline-block

.vertical-separator
  position: absolute
  width: 3px
  height: 50px
  background-color: #FFF
  left: 0px
  top: 30px
  &.services2
    top: 40px
  &.services4
    top: 50px
  &.services5
    top: 30px
  &.services6
    top: 30px
  &.services7
    top: 20px

.services
  width: 100%
  margin: 100px auto
.service-icon
  position: relative
  display: inline-block
  // top: -20px
  position: relative
  text-align: right
  padding-right: 20px
  &.services1
    top: -20px
  &.services3
    top: -30px
  &.services4
    top: -30px
  &.services5
    top: -30px
  &.services6
    top: 0px
  &.services7
    top: -20px
  img
    width: 60px
    margin-right: 20px
  font-size: 1.9rem
  font-family: 'montserrat_thin'

.privacy
  margin-top: 30px
  font-family: 'montserrat_thin'
  nav
    display: inline-block
    &.separator
      padding-right: 20px
      border-right: solid 1px white
    &.separator-left
      padding-left: 20px

.general-info
  margin-bottom: 30px
  font-family: 'montserrat_thin'
  .question-title
    font-size: 3rem
    font-family: 'bebas_neuelight'
    margin: 20px 0 10px 0
  span.supindice
    position: relative
    top: -10px
    font-size: 1rem