body
  background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(112,112,112,1) 100%) fixed

*
  // outline: solid 1px red
  
#logo
  // width: 40%
  margin: 100px auto
  text-align: center
  img
    width: 100%
    max-width: 180px;

#main-text
  text-align: center
  span.construction
    font-family: 'bebas_neue_regular'
    font-size: 50px

.links
  margin-top: 20px
  span.separator
    padding: 0 10px
  span
    font-family: 'bebas_neuelight'
    font-size: 24px

/*fonts*/
@font-face
  font-family: 'bebas_neue_regular'
  src: url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),url('fonts/bebasneue_regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'bebas_neuelight'
  src: url('fonts/bebasneue_light-webfont.woff2') format('woff2'),url('fonts/bebasneue_light-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
/*fonts*/