.view-container.anim-slide-below
  .general-info
    a.close-button(ui-sref="contact")
      img(data-ng-src="common/images/close.png")
    h3.general-title
      |Preguntas Frecuentes:

    .question-title
      |1.  ¿Qué es VIA Servicios®?
    p.answer
      |VIA Servicios® es la marca que representa IGT COMMERCIAL SERVICES, S. DE R.L. DE C.V. en México. IGT es una empresa mexicana, subsidiaria de IGT GLOBAL SOLUTIONS CORPORATION (www.igt.com) que actúa en el área de servicios comerciales, sirviendo de intermediario entre empresas de servicios y el consumidor final. VIA Servicios® establece agencias donde se pueden pagar varios servicios en el mismo lugar.
    .question-title
      |2.  ¿Cuáles son las ventajas de usar VIA Servicios®?
    p.answer
      |Al usar VIA Servcios® obtiene ventajas como posibilidad de pagar todas las facturas en un solo lugar, garantía de seguridad y agilidad en las transacciones, registro de pagos en tiempo real
      span.supindice
        |1
      |,realización de pagos sin necesidad de cuenta bancaria, facilidad de uso y disponibilidad de agencias de fácil acceso distribuidas en todo el país.
    .question-title
      |3.  ¿Cuáles servicios se puede pagar a través de VIA Servicios®?
    p.answer
      |En las agencias VIA Servicios® los usuarios pueden pagar sus facturas energía eléctrica, gobiernos, peajes, comunicación fija y móvil, agua, pago de pólizas de seguro, pago de préstamos y adquirir recargas de tiempo aire de la principales compañías telefónicas del país.
    .question-title
      |4.  ¿Cómo se usa VIA Servicios®?
    p.answer
      |Usar VIA Servicios® es fácil. El usuario solo debe dirigirse a una de las agencias identificadas con la marca VIA Servicios® y presentar la factura del servicio a pagar o indicar su número de contrato. Tras validar la cuenta y monto a pagar, el usuario realiza el pago del valor correspondiente y el agente completa la transacción vía sistema, imprimiendo un comprobante de pago que será entregado al usuario. Dicho comprobante debe ser conservado como prueba de que el pago fue realizado.
    .question-title
      |5.  ¿Cuánto tiempo demora el registro de los pagos?
    p.answer
      |Cada equipo que procesa pagos tiene comunicación directa con las empresas de servicio, lo que permite que cada pago quede legalmente identificado y registrado junto a la empresa proveedora del servicio. Los pagos se registran en tiempo real
      span.supindice
        |1
      |, al momento de ser realizados.
    .question-title
      |6.  ¿Dónde encuentro un punto VIA?
    p.answer
      |VIA Servicios® cuenta con más de 1,000 agencias a nivel nacional. Puede encontrar un listado detallado de los locales afiliados en nuestra página web www.viaservicios.com.mx
    .question-title
      |7.  ¿Cuál es el horario de funcionamiento de las agencias VIA Servicios®?
    p.answer
      |Las agencias VIA Servicios® operan según el horario de atención al cliente del local donde estén ubicados.
    .question-title
      |8.  ¿Cómo debo hacer para colocar una terminal de VIA Servicios® en mi negocio?
    p.answer
      |Para formar parte de la red VIA Servicios®, el representante del negocio debe completar el formulario disponible en la página web www.viaservicios.com.mx/ y será contactado por un ejecutivo de servicio. Seguido, el ejecutivo le visitará para completar las informaciones comerciales y financieras pertinentes y dar curso a la solicitud.
    .question-title
      |9.  ¿Cuál es el proceso en caso de reclamaciones?
    p.answer
      |Caso algún inconveniente con el servicio o el reconocimiento del pago, el usuario debe contactar a los teléfonos que aparecen al pie de su ticket o dirigirse a su compaña proveedora con el comprobante de pago recibido en el punto VIA Servicios®. En dicho comprobante consta un número de confirmación que es el identificador que el proveedor utiliza para rastrear y reconocer dicho pago.
    .subindice
      |1: Solo aquellos que tienen conexión en línea