doctype html
html(data-ng-app="app", data-ng-controller="Shell as shell")
  head
    base(href="/")
    title
      |Private Test
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(charset="utf-8")
    //build:css
    link(rel="stylesheet", href="common/styles/main.css")
    //endbuild

  body
    ui-view

    // clear:js
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")

    
    //Modules
    script(src="app/app.module.js")
    script(src="app/initialize.js")
    script(src="app/core/core.module.js")
    script(src="app/core/config.js")



    //controllers
    script(src="app/shell/shell.controller.js")

    // endinject


    script.
      // inject-angular-loader:js //
      //
    //- script(src="/bower_components/angular-loader/angular-loader.js")
    script.
      // endinject //
      // inject-script:js //
    //- script(src="/bower_components/script.js/dist/script.js")
    script.
      // endinject //
      //- $script([
        // inject:js //
        // endinject //
      //- ], 
      //- function() {
        //angular.bootstrap(document, ['app']);
      //- });