.view-container.anim-slide-below
  .text.left
    p
      |Para pertenecer a la red de agencias VIA Servicios® es fácil y trae consigo múltiples beneficios para el establecimiento.
    ul.list
      li
        |Operación sin costo alguno por concepto de equipo, papel, impresión ni internet.
      li
        |Disponibilidad de un portafolio de servicios más amplio para sus clientes.
      li
        |Línea de crédito pre-aprobada, solo con un pago anual del Fondo de Riesgo.
      li
        |Mayor flujo de visitas a su establecimiento.
      li
        |Potencial de mayores ingresos.
      li
        |Formar parte de la exclusiva red que ofrece este servicio.
      li
        |Respaldo de una empresa con más de 30 años de experiencia en México y el mundo
      li
        |Disponibilidad de soporte, atención y mantenimiento personalizado de ejecutivos de VIA Servicios®.
      li
        |Disponibilidad de asesoría técnica y comercial vía call center.
    p
      |Si desea formar parte de la red VIA Servicios®, complete el siguiente formulario y un ejecutivo de servicio le contactará.
  .form-box
    .fluid-container
      .align-center(data-ng-if="distributor.error")
        span.error-message
          |Todos los campos son requeridos.
      .align-center(data-ng-if="distributor.success")
        span.success-message
          |¡Gracias! Pronto nos pondremos en contacto contigo.
      form(data-ng-if="!distributor.success", name="distributor.form",  data-ng-submit="distributor.send()",novalidate)
        .row
          .col-xs-12.col-md-6
            .input-row.left
              input(placeholder="*NOMBRE DEL ESTABLECIMIENTO", data-ng-model="distributor.info.name", required)
            .input-row.left
              input(placeholder="*DIRECCIÓN", data-ng-model="distributor.info.address", required)
            .input-row.left
              input(type="email", placeholder="*CORREO ELECTRÓNICO", data-ng-model="distributor.info.email", requied)
          .col-xs-12.col-md-6
            .input-row.right
              input(placeholder="*PERSONA DE CONTACTO", data-ng-model="distributor.info.contact", required)
            .input-row.right
              input(placeholder="*TELÉFONO",  data-ng-model="distributor.info.phone",required)
            .input-row.align-right
              button(type="submit")
                |ENVIAR
  div(data-ng-include="'app/footer/footer.template.html'")